@font-face {
  font-family: "Eurostile";
  src: local("Eurostile"),
      url("../fonts/Eurostile/erosyt.ttf") format("truetype"),
      url("../fonts/Eurostile/Eurosti.TTF") format("truetype"),
      url("../fonts/Eurostile/Eurostib.TTF") format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica Pro";
  src: local("Neue Haas Unica Pro"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Black It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Black.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Bold.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Heavy It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Heavy.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Italic.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Light It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Light.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Medium It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Medium.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Thin Italic.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Thin.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro UltLight It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro UltraLight.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro XBlack It.otf") format("truetype"),
      // url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro XBlack.otf") format("truetype"),
      url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro.otf") format("truetype");
      // font-family: "Neue Haas Unica Pro";
      // src: local("Neue Haas Unica Pro"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Black It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Black.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Bold.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Heavy It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Heavy.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Italic.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Light It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Light.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Medium It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Medium.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Thin Italic.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro Thin.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro UltLight It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro UltraLight.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro XBlack It.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro XBlack.otf") format("truetype"),
      //     url("../fonts/Neue Haas Unica/Linotype - Neue Haas Unica Pro.otf") format("truetype");
}

.d-flex {
  display: flex;
}

.children-page {
  padding: 20px 40px;
}

.primary-btn {
  padding: 6.5px 12.5px;
  font-family: Neue Haas Unica Pro;  
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #FF8B00;
  border-radius: 12px;
  outline: none;
  border: none;
}