.payments {
  &-summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    .summary-item {
      padding: 32px 34px;
      border: 1px solid #DDDFE5;
      border-radius: 12px;

      &.active {
        background: #FF8B00;

        .text {
          p {
            color: #231F20;
          }

          span {
            color: #FFFFFF;
          }
        }
      }

      img {
        margin-right: 33px;
      }

      .text {
        p {
          font-family: Eurostile;          
          font-weight: bold;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0.4px;
          color: #929292;
          margin: 0 0 8px;
        }

        span {
          font-family: Neue Haas Unica Pro;          
          font-weight: bold;
          font-size: 36px;
          line-height: 54px;
          letter-spacing: 0.4px;
          color: #252733;
        }
      }
    }
  }

  &-list {
    margin-top: 50px;

    .table-functions {
      margin-bottom: 11px;
      justify-content: space-between;
      
      .search-input {
        position: relative;

        input {
          padding: 6.5px 15px 6.5px 35px;
          background: #F2F2F2;
          border-radius: 12px;
          outline: none;
          border: none;
          font-family: Neue Haas Unica Pro;          
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          min-width: 350px;
        }

        img {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }

      .other-functions {
        select {
          margin-right: 8px;
          padding: 6.5px 14.5px;
          min-width: 150px;
          border: 1px solid #DDDFE5;
          box-sizing: border-box;
          border-radius: 12px;
          font-family: Neue Haas Unica Pro;          
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #9D9B9C;
        }
      }
    }

    .custom-table {
      border: 1px solid #DDDFE5;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 32px;

      &-header {
        justify-content: space-between;
        width: 100%;
        padding: 16px 0;
        background: linear-gradient(0deg, #FAFAFA, #FAFAFA);
        border-radius: 12px;
        font-family: Neue Haas Unica Pro;        
        font-weight: bold;
        font-size: 13.33px;
        line-height: 20px;        
        letter-spacing: 0.4px;
        color: #252733;
        box-sizing: border-box;
        text-align: center;
        text-shadow: 0 0 black;

        .name {
          width: 15%;
          text-align: left;
          padding-left: 20px;
        }

        .claim_status {
          width: 15%;
        }

        .account_total {
          width: 15%;
        }

        .scholar_share {
          width: 15%;
        }

        .manager_share {
          width: 15%;
        }

        .payment_status {
          width: 10%;
        }

        .destimation_match {
          width: 15%;
        }

      }

      &-content {
        
      }

      &-item {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 21px 0;
        border-bottom: 1px solid #DDDFE5;
        font-family: Neue Haas Unica Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13.33px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #252733;

        .name {
          width: 15%;
          text-align: left;
          padding-left: 20px;
        }

        .claim_status {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;

          &.claimed {
            .status-inner {              
              border: 1px solid #FF8B00;
              color: #FF8B00;
            }
          }

          &.unclaimed {
            .status-inner {
              border: 1px solid #231F20;
              color: #231F20;
            }
          }

          .status-inner {
            align-items: center;
            justify-content: center;
            padding: 14px;
            min-width: 135px;
            border-radius: 30px;
            color: white;
            border-radius: 40px;
            box-sizing: border-box;

            span {
              font-weight: 400;
            }

            img {
              margin-right: 9px;
            }
          }
        }

        .account_total {
          width: 15%;
          text-align: center;
        }

        .scholar_share {
          width: 15%;
          text-align: center;
        }

        .manager_share {
          width: 15%;
          text-align: center;
        }

        .payment_status {
          width: 10%;

          &.paid {
            .status-inner {
              background-color: #FF8B00;;
            }
          }

          &.unpaid {
            .status-inner {
              background-color: #231F20;;
            }
          }

          &.pending {
            .status-inner {
              background-color: #83B5D1;;
            }
          }          

          .status-inner {
            align-items: center;
            justify-content: center;
            padding: 14px;
            max-width: 108px;
            border-radius: 30px;
            color: white;

            span {
              font-weight: 400;
            }

            img {
              margin-right: 9px;
            }
          }
        }

        .destimation_match {
          width: 15%;
          text-align: center;
          text-transform: capitalize;

          &.perfect {
            color: #FF8B00;
          }

          &.error {
            color: #252733;
          }

          &.hold {
            color: #83B5D1;
          }
        }
      }
    }

    .custom-pagination {
      justify-content: space-between;
      margin-top: 25px;

      .indicator {
        p {
          font-family: Neue Haas Unica Pro;          
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #9D9B9C;

          span {
            color: #252733;
          }
        }
      }

      .paginations {
        align-items: center;

        .next-page {
          margin-left: 10.5px;
        }

        .prev-page {
          margin-right: 10.5px;
        }

        .pagination-item {
          border-radius: 33.7143px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 42px;
          min-height: 42px;
          height: 42px;
          margin: 0 10.5px;
          font-family: Neue Haas Unica Pro;          
          font-weight: 400;
          font-size: 15.1714px;
          line-height: 23px;
          color: #9D9B9C;
          border: 1px solid #9D9B9C;

          &.active {
            background: #FF8B00;
            border: 1px solid #FF8B00;
            color: white;
          }
        }
      }
    }
  }
}